<!doctype html>
<html>
  <head>
    <title>Spotify Login</title>
    <link href="./styles.css" rel="stylesheet" />
  </head>

  <body>
    <div class="container">
      <div class="carplay">
        <div class="content-container">
          <div class="content">
            <div class="form-box">
              <p class="">Made for</p>
              <a href="https://open.spotify.com"
                ><img src="static/spotifylogo.webp" class=""
              /></a>
            </div>
            <img src="static/spotifyjourneyjamslogo.png" class="" />
            <div class="flex justify-center my-20">
              <a
                href="/login"
                class="minimal-button"
                id="music-button"
                >Log in with Spotify</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
