<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Spotify Journey</title>
    <link href="./styles.css" rel="stylesheet" />
  </head>

  <body class="container">
    <div class="">
      <img src="static/spotifyjourneyjamslogo.png" />
    </div>
    <div class="carplay">
      <div class="sidebar">
        <div id="clock" class="clock"></div>
      </div>
      <div class="content-container">
        <div class="content">
          <h2 class="" id="travels">
            <%= distance %> <span class="smaller">in</span> <%= duration %>
          </h2>
        </div>

        <div id="results" >
          <div id="playlist" class="content list"></div>
        </div>
      </div>
    </div>

    <script>
      const source = new EventSource("/stream");

      source.addEventListener("message", (event) => {
        console.log("received: ", event);

        try {
          const data = JSON.parse(event.data);

          if (data.foundSongs) {
            const listItem = document.createElement("li");
            listItem.textContent = `Found songs you might like!`;
            document.getElementById("playlist").appendChild(listItem);
          }
          if (data.madePlaylist) {
            

            const embedContainer = document.getElementById("playlist");
            embedContainer.innerHTML = data.madePlaylist;          }
        } catch (error) {
          console.error("Error parsing JSON:", error);
        }
      });
    </script>
  </body>
</html>
