<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Spotify Journey Jams</title>
    <link href="./output.css" rel="stylesheet" />
  </head>

  <body class="">
    <div class="flex h-screen items-center">
      <div class="m-auto">
        <div class="bg-blue-500">
          <h1 class="">Map</h1>
          <form id="inputs" class="bg-red-400">
            <input
              type="text"
              id="startingPoint"
              name="startingPoint"
              placeholder="Where are you?"
              class=" bg-white text-gray-800 "
            />
          </form>
          <input
            type="text"
            id="destination"
            name="destination"
            placeholder="Where are you going?"
            required
            class=" bg-white text-gray-800 "
          />
        </div>
      </div>
    </div>
  </body>
</html>
