<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Spotify Journey Jams</title>
    <link href="./styles.css" rel="stylesheet" />
  </head>

  <body class="container">
    <div class="">
      <img src="static/spotifyjourneyjamslogo.png" />
    </div>
    <div class="carplay">
      <div class="sidebar">
        <div id="clock" class="clock"></div>
      </div>
      <div class="content-container">
        <div class="content">
          <form id="inputs" class="form-box">
            <input
              type="text"
              id="startingPoint"
              name="startingPoint"
              placeholder="Where are you?"
              required
              draggable="true"
            />
            <input
              type="text"
              id="destination"
              name="destination"
              placeholder="Where are you going?"
              required
              draggable="true"
            />
            <button id="submit" class="minimal-button" type="button" onclick="submitForm()">
              Submit
            </button>
          </form>
        </div>
        <div class="content invisible" id="result"></div>
      </div>
    </div>
    <script>
      let initialStartingPoint;
      let initialDestination;

      async function submitForm() {
        const startingPoint = document.getElementById("startingPoint").value;
        const destination = document.getElementById("destination").value;
        if (!startingPoint || !destination) {
          return;
        }
        if (
          startingPoint == initialStartingPoint &&
          destination == initialDestination
        ) {
          return;
        }
        const response = await fetch("/geocoding", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ startingPoint, destination }),
        });
        if (response.ok) {
          const data = await response.json();
          updateResult(data);
        } else {
          console.error("Error submitting form:", response.statusText);
        }
      }
      function updateResult(data) {
        const resultContainer = document.getElementById("result");
        // Display geocode and distance data
        resultContainer.innerHTML = `
              <div class="form-box">
              <h2 class="">Duration: ${data.duration}</h2>
              <p class="smaller">Distance: ${data.distance} miles</p>
              <a class="minimal-button" id="music-button" href="/music"> Pick Music </a>
              </div>
              `;
        const startingPointInput = document.getElementById("startingPoint");
        const destinationInput = document.getElementById("destination");
        startingPointInput.value = data.startingPointData;
        destinationInput.value = data.destinationData;
        initialStartingPoint = data.startingPointData;
        initialDestination = data.destinationData;
        resultContainer.classList.remove("invisible");
      }

      /*document
        .getElementById("location")
        .addEventListener("click", function () {
          console.log("ya dawg");
          navigator.geolocation.getCurrentPosition(
            function (position) {
              console.log(position.coords);
              var startingPointInput = document.getElementById("startingPoint");
              startingPointInput.value =
                position.coords.longitude + "," + position.coords.latitude;
            },
            function (error) {
              // handle the error
            },
          );
        });*/
    </script>
  </body>
</html>
