<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Spotify Journey Jams</title>
    <link href="./styles.css" rel="stylesheet" />
  </head>

  <body class="container">
    <div class="">
      <!-- <img src="static/spotifyjourneyjamslogo.png" /> -->
    </div>
    <div class="carplay">
      <div class="content-container">
        <div class="content">
          <form id="inputs" class="form-box">
            <div class="startingPoint">
              <input
                type="text"
                id="startingPoint"
                name="startingPoint"
                placeholder="Where are you?"
                required
                draggable="false"
              />
              <svg
                fill="#ffffff"
                version="1.1"
                id="location"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                width="40px"
                height="40px"
                viewBox="0 0 395.71 395.71"
                xml:space="preserve"
                stroke="#ffffff"
              >
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g
                  id="SVGRepo_tracerCarrier"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></g>
                <g id="SVGRepo_iconCarrier">
                  <g>
                    <path
                      d="M197.849,0C122.131,0,60.531,61.609,60.531,137.329c0,72.887,124.591,243.177,129.896,250.388l4.951,6.738 c0.579,0.792,1.501,1.255,2.471,1.255c0.985,0,1.901-0.463,2.486-1.255l4.948-6.738c5.308-7.211,129.896-177.501,129.896-250.388 C335.179,61.609,273.569,0,197.849,0z M197.849,88.138c27.13,0,49.191,22.062,49.191,49.191c0,27.115-22.062,49.191-49.191,49.191 c-27.114,0-49.191-22.076-49.191-49.191C148.658,110.2,170.734,88.138,197.849,88.138z"
                    ></path>
                  </g>
                </g>
              </svg>
            </div>
            <div class="destination">
              <input
                type="text"
                id="destination"
                name="destination"
                placeholder="Where are you going?"
                required
                draggable="false"
              />
            </div>
            <button
              id="submit"
              class="minimal-button"
              type="button"
              onclick="submitForm()"
            >
              Search
            </button>
          </form>
        </div>
        <div class="content invisible" id="result-container"></div>
      </div>
    </div>
    <script>
      let initialStartingPoint;
      let initialDestination;

      async function submitForm() {
        const startingPoint = document.getElementById("startingPoint").value;
        const destination = document.getElementById("destination").value;
        if (!startingPoint || !destination) {
          return;
        }
        if (
          startingPoint == initialStartingPoint &&
          destination == initialDestination
        ) {
          return;
        }
        const response = await fetch("/geocoding", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ startingPoint, destination }),
        });
        if (response.ok) {
          const data = await response.json();
          updateResult(data);
        } else {
          console.error("Error submitting form:", response.statusText);
        }
      }
      function updateResult(data) {
        const resultContainer = document.getElementById("result-container");
        // Display geocode and distance data
        resultContainer.innerHTML = `
              
              <div class="form-box" id='result'>
              <h2 class=""> ${data.duration}</h2>
              <h3 class="" style="opacity:70%;">${data.distance}</h3>
              <button class="minimal-button" id="music-button" type="button" onClick="gotoMusic()"> Pick Music </button>
              </div>
              `;
        const startingPointInput = document.getElementById("startingPoint");
        const destinationInput = document.getElementById("destination");
        startingPointInput.value = data.startingPointData;
        destinationInput.value = data.destinationData;
        initialStartingPoint = data.startingPointData;
        initialDestination = data.destinationData;
        resultContainer.classList.remove("invisible");
      }

      function gotoMusic() {
        window.location.replace("/music");
      }

      // Drag and drop functionality
      document.addEventListener("DOMContentLoaded", function () {
        const startingPointInput = document.getElementById("startingPoint");
        const destinationInput = document.getElementById("destination");

        startingPointInput.addEventListener("dragstart", handleDragStart);
        destinationInput.addEventListener("dragstart", handleDragStart);

        startingPointInput.addEventListener("drop", handleDrop);
        destinationInput.addEventListener("drop", handleDrop);

        startingPointInput.addEventListener("dragover", handleDragOver);
        destinationInput.addEventListener("dragover", handleDragOver);

        let dragged;

        function handleDragStart(event) {
          dragged = event.target;
          event.dataTransfer.setData("text/plain", event.target.value);
        }

        function handleDrop(event) {
          event.preventDefault();
          const droppedValue = event.dataTransfer.getData("text/plain");
          const targetValue = event.target.value;
          event.target.value = dragged.value;
          dragged.value = targetValue;
        }

        function handleDragOver(event) {
          event.preventDefault();
        }
      });

      document
        .getElementById("location")
        .addEventListener("click", function () {
          console.log("ya dawg");
          navigator.geolocation.getCurrentPosition(
            function (position) {
              console.log(position.coords);
              var startingPointInput = document.getElementById("startingPoint");
              if (
                startingPointInput.value ==
                position.coords.longitude + "," + position.coords.latitude
              ) {
                startingPointInput.value = "";
              } else {
                startingPointInput.value =
                  position.coords.longitude + "," + position.coords.latitude;
              }
            },
            function (error) {
              // handle the error
            },
          );
        });
    </script>
  </body>
</html>
