<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Spotify Journey Jams</title>
    <link href="./output.css" rel="stylesheet" />
  </head>

  <body class="flex h-screen items-center">
    <div class="m-auto bg-blue-500 max-w-2xl mx-auto p-8">
      <h1 class="">Map</h1>
      <form
        id="inputs"
        class="bg-red-400 p-5"
      >
        <input
          type="text"
          id="startingPoint"
          name="startingPoint"
          placeholder="Where are you?"
          class="bg-white text-gray-800 w-full mb-4 p-2"
          required
        />
        <div class="mt-3 flex justify-center">
          <p id="swapButton" class="rounded-md p-2 text-2xl text-white">
            ↕
          </p>
        </div>
        <input
          type="text"
          id="destination"
          name="destination"
          placeholder="Where are you going?"
          required
          class="bg-white text-gray-800 w-full mb-4 p-2"
        />
        <button
          type="button"
          onclick="submitForm()"
          class="bg-blue-500 text-white p-2 cursor-pointer"
        >
          Submit
        </button>
      </form>

      <!-- Display geocode and distance data if available -->
      <div id="result" class="mt-4">
        <!-- Content will be dynamically updated here -->
      </div>
    </div>

    <script>
      let initialStartingPoint;
      let initialDestination;
      document
        .getElementById("swapButton")
        .addEventListener("click", function () {
          var startingPointInput = document.getElementById("startingPoint");
          var destinationInput = document.getElementById("destination");

          var tempValue = startingPointInput.value;
          startingPointInput.value = destinationInput.value;
          destinationInput.value = tempValue;
        });

      async function submitForm() {
        const startingPoint = document.getElementById("startingPoint").value;
        const destination = document.getElementById("destination").value;
        if (!startingPoint || !destination){
          return;
        }
        if (startingPoint == initialStartingPoint && destination == initialDestination){
          return;
        }
        const response = await fetch("/geocoding", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ startingPoint, destination }),
        });

        if (response.ok) {
          const data = await response.json();
          updateResult(data);
        } else {
          console.error("Error submitting form:", response.statusText);
        }
      }

      function updateResult(data) {
        const resultContainer = document.getElementById("result");

        // Display geocode and distance data
        resultContainer.innerHTML = `
          <h2 class="font-bold">Duration: ${formatDuration(data.duration)}</h2>
          <h3 class="font-bold">Distance: ${formatDistance(
            data.distance
          )} miles</h3>
        `;
        const startingPointInput = document.getElementById("startingPoint");
        const destinationInput = document.getElementById("destination");
        startingPointInput.value = data.startingPointData;
        destinationInput.value = data.destinationData;
        initialStartingPoint = data.startingPointData;
        initialDestination = data.destinationData;
      }

      function formatDuration(duration) {
        const hours = Math.floor(duration / 3600);
        const minutes = Math.floor((duration % 3600) / 60);

        if (hours < 1) {
          return `${minutes} minutes`;
        } else {
          return `${hours} hours and ${minutes} minutes`;
        }
      }

      function formatDistance(distance) {
        return (distance * 0.000621371).toFixed(1);
      }
    </script>
  </body>
</html>
