<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Spotify Journey Jams - Results</title>
    <link href="./output.css" rel="stylesheet" />
  </head>

  <body class="">
    <div class="flex h-screen items-center">
      <div class="m-auto">
        <div class="bg-blue-500">
          <h1 class="">Playlist</h1>
          <div>
            <h2></h2>
            <p>Starting Point: <%= startingPointData %></p>
            <p>Destination: <%= destinationData %></p>
            <p>Duration: <%= duration %></p>
            <p>Distance: <%= distance %></p>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script></script>
</html>