/* Existing CSS */
html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
  tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
  color: white;
}

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
  /* height: 100vh; */
}

h1, h2 {
  margin: 0px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.carplay {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #91bd98; /* Equivalent to bg-slate-100 */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Equivalent to shadow-lg */
  flex-direction: row;
  overflow: hidden;
  margin: 50px;
  width: 800px;
  border-radius: 30px;
  min-height: 80%;  
  transition: all 0.3s ease-in-out;
  /* height: 500px; */
}

.content-container {
  height: 100%;
  width: 85%;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease-in-out;

}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #4a5255;
  margin: 30px;
  padding: 20px;
  border-radius: 32px;
  max-height: 90%;
  transition: top 0.5s ease; /* Smooth transition for top */
  position: relative;
}

.form-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

/* Base styling */
.startingPoint,
.destination,
.searchTerm,
.radioSearch {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #707e83;
  border-radius: 20px;
  border: none;
  height: 33%;
}

.startingPoint input,
.destination input,
.searchTerm input {
  background-color: transparent; 
  color: white;
  width: 90%;
  outline: none; /* Ensures no outline on focus */
  padding: 15px;
  box-sizing: border-box;
  border: none;
}

/* Autofill styling */
.startingPoint input:-webkit-autofill,
.destination input:-webkit-autofill,
.searchTerm input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: white !important;
  transition: background-color 5000s ease-in-out 0s;
}

.startingPoint input:-webkit-autofill:focus,
.destination input:-webkit-autofill:focus,
.searchTerm input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: white !important;
  transition: background-color 5000s ease-in-out 0s;
}

/* Specific border-radius adjustments */
.startingPoint {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.destination {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

::placeholder {
  color: #b0b1b3;
}

.locationsvg {
  margin: 10px;
  max-height: 30px;
  width: auto;
  fill: #b0b1b3;
  stroke: #b0b1b3;
  cursor: pointer;
}


.minimal-button {
  margin-top: 15px;
  padding: 5px;
  width: 100%;
  cursor: pointer;
  border-top: 1px solid #a0aec01a; /* Equivalent to border-y border-gray-600 */
  border-bottom: 1px solid #a0aec01a; /* Equivalent to border-y border-gray-600 */
  border-left: none;
  border-right: none;
  text-align: center; /* Equivalent to text-center */
  font-size: 1.25rem; /* Equivalent to text-xl */
  background-color: transparent;
  transition: all 0.4s ease;
  text-decoration: none;

}

#submit {
  color: #60a5fa; /* Equivalent to text-green-400 */
}
#submit:hover {
  color: #bfdbfe; /* Equivalent to hover:text-green-200 */
}
#music-button {
  color: #68d391; /* Equivalent to text-green-400 */
}
#music-button:hover {
  color: #9ae6b4; /* Equivalent to hover:text-green-200 */
}
#continue {
  color: #68d391; /* Equivalent to text-green-400 */
}
#continue:hover{
  color: #9ae6b4; /* Equivalent to hover:text-green-200 */
}

.invisible {
  visibility: hidden;
}


#result {
  color: aliceblue;
  position: relative;
  font-size: medium;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0px;
  width: 100%;
 
}

#result-container {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

#result-container:not(.invisible) {
  max-height: 500px;
  opacity: 1;
}

#result-container.invisible {
  max-height: 0;
  opacity: 0;
  margin: 0;
}

.radioSearch {
  position: relative;
  margin: 20px;
}

.radioSearch > * {
  float: left;
}

.radioSearch input[type="radio"] {
  display: none;
}

.radioSearch label {
  font-size: large;
  cursor: pointer;
  min-width: 50%;
  text-align: center;
  color: #91a1bd;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.radioSlider {
  background-color: red;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0px;
  border-radius: 12px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#searchByArtist:checked ~ .radioSlider {
  background: rgba(255, 255, 255, 0.3);
  left: 0px;
}

#searchBySong:checked ~ .radioSlider {
  background: rgba(255, 255, 255, 0.3);
  left: 50%;
}

#searchByArtist:checked ~ #byArtistLabel {
  color: white;
}

#searchBySong:checked ~ #bySongLabel {
  color: white;
}

.info-box {
  display: flex;
  flex-direction: row;
}

.creativity {
  align-content: center;
  justify-content: center;
  padding-left: 50px;
}

.list {
  max-height: max-content;
  flex-direction: column;
  padding: 30px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 30px;
  padding: 15px;
  border-radius: 20px;
}

#topSong {
  color: #68d391;
}

.rowClass {
  /* background-color: #4a5568; */
  padding: 15px;
  transition: all 0.4s ease;
  cursor: pointer;
}

td {
  padding: 15px;
}

.rowClass:hover {
  background: #818896;
}

.leftBorderRad {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.rightBorderRad {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}


.artistIcon {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}


button.showSongsSVG {
  background-color: transparent;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: all 0.4s ease;
}

.nopadding {
  padding: 0;
}